body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container {
    position: relative;
}

#video, #canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas {
    z-index: 1;
}
